# Copy this file to keystore.properties and fill in your values
# NEVER commit keystore.properties to version control!

storeFile=../keystore/release-key.jks
storePassword=YOUR_KEYSTORE_PASSWORD
keyAlias=flappycalculator
keyPassword=YOUR_KEY_PASSWORD
